@import "../../responsive.scss";
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;

  a {
    transition: all 0.5s ease;

    @include sm {
      display: none;
    }

    &:hover {
      scale: 1.05;
    }
  }

  .left {
    // flex-grow: 3;
    flex: 3 1 0;
    display: flex;
    align-items: center;
    gap: 30px;

    .logo {
      font-weight: bold;
      font-size: 20px;
      display: flex;
      gap: 10px;
      align-items: center;

      img {
        width: 28px;
      }

      span {
        @include md {
          display: none;
        }
        @include sm {
          display: initial;
        }
      }
    }
  }
  .right {
    // flex-grow: 2;
    flex: 2 1 0;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 50px;
    background-color: #fcf5f3;
    height: 100%;
    position: relative;

    @include md {
      background-color: transparent;
    }

    .user {
      display: flex;
      align-items: center;
      font-weight: bold;

      img {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 20px;
      }

      span {
        @include sm {
          display: none;
        }
      }

      .profile {
        padding: 12px 24px;
        background-color: #fece51;
        cursor: pointer;
        border: none;
        position: relative;

        .notification {
          position: absolute;
          top: -8px;
          right: -8px;
          background-color: red;
          color: white;
          border-radius: 50%;
          width: 26px;
          height: 26px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    a {
      padding: 12px 24px;
      margin: 20px;

      @include md {
        margin: 0;
      }
    }

    .register {
      background-color: #fece51;
    }

    .menu-icon {
      display: none;
      z-index: 1;

      img {
        width: 36px;
        height: 36px;
        cursor: pointer;
      }

      @include sm {
        display: inline;
      }
    }
    .menu {
      background-color: black;
      color: white;
      height: 100vh;
      width: 50%;
      position: absolute;
      top: 0;
      right: -100%;
      transition: all 1s ease;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 24px;

      &.active {
        // right: calc(100vw + 20px);
        right: 0;
      }

      @include sm {
        a {
          display: initial;
        }
      }
    }
  }
}
