@import "../../responsive.scss";

.homepage {
  display: flex;
  height: 100%;

  .text-container {
    // flex-grow: 3;
    flex: 3 1 0;

    .wrapper {
      padding-right: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 50px;
      height: 100%;

      @include sm {
        justify-content: start;
      }

      @include md {
        padding-right: 0;
      }

      .title {
        font-size: 64px;
        text-transform: capitalize;

        @include lg {
          font-size: 48px;
        }
      }
      p {
        text-align: justify;
      }
      .boxes {
        display: flex;
        justify-content: space-between;

        @include sm {
          display: none;
        }

        h1 {
          font-size: 36px;

          @include lg {
            font-size: 32px;
          }
        }

        h2 {
          font-size: 20px;
          font-weight: 300;
          text-transform: capitalize;
        }
      }
    }
  }
  .img-container {
    // flex-grow: 2;
    flex: 2 1 0;
    background-color: #fcf5f3;
    position: relative;
    display: flex;
    align-items: center;

    @include md {
      display: none;
    }

    img {
      width: 115%;
      position: absolute;
      right: 0;

      @include lg {
        width: 105%;
      }
    }
  }
}
